h1  {
    text-align: center;
    text-decoration: underline;
    border: 2px black solid;
    color: whitesmoke;
    background-color:gray;
    font-family: 'Shadows Into Light', cursive;
    box-shadow: black 5px 5px 10px;
}

#welcome-message{
    display: none;
    text-align: center;
    transition: ease-in;
}
#sign-in-message{
    display: none;
    text-align: center;
    transition: ease-in;
}
#user-form{
    display: none;
    text-align: center;
    transition: ease-in;
}
#task-div{
    display: none;
    text-align: center;
    transition: ease-in;
}
#edit-task-div{
    display: none;
    text-align: center;
    transition: ease-in;
}

#task-list-area {
    background-color: lightblue;
    border-radius: 5px 5px 10px;
    box-shadow: black 5px 5px 10px;
}

html{
    scroll-behavior: smooth;
}
body {
    background-color: whitesmoke;
}