h1  {
    text-align: center;
    text-decoration: underline;
    border: 2px black solid;
    color: whitesmoke;
    background-color:gray;
    font-family: 'Shadows Into Light', cursive;
    box-shadow: black 5px 5px 10px;
}
/* #header {
    text-align: center;
}
#buttons {
    justify-content: center;
    display: flex;
    align-items: center;

} */
#welcome-message{
    display: flex;
    justify-content: center;
    transition: ease-in;
}
#sign-in-message{
    display: flex;
    justify-content: center;
    transition: ease-in;
}
#user-form{
    display: flex;
    justify-content: center;
    transition: ease-in;
}

html{
    scroll-behavior: smooth;
}
